td{

	width: 100px;
	height: 100px;
	padding: 10%
}

.vertical
{
border-left: 1px solid blue;
border-right: 1px solid blue;
}

.horizontal{

	border-top: 1px solid blue;
	border-bottom: 1px solid blue;
}

table{

	margin: auto;
}